<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Description</h2>
</hgroup>

<h3>@ViewBag.Data</h3>

<ul>
    <li>@Html.ActionLink("Recipe #1", "Recipe1")</li>
    <li>@Html.ActionLink("Recipe #2", "Recipe2")</li>
    <li>@Html.ActionLink("Recipe #3", "Recipe3")</li>
    <li>@Html.ActionLink("Recipe #4", "Recipe4")</li>
    <li>@Html.ActionLink("Recipe #5", "Recipe5")</li>
    <li>@Html.ActionLink("Recipe #6", "Recipe6")</li>
    <li>@Html.ActionLink("Recipe #7", "Recipe7")</li>
    <li>@Html.ActionLink("Recipe #8", "Recipe8")</li>
    <li>@Html.ActionLink("Recipe #9", "Recipe9")</li>
    <li>@Html.ActionLink("Recipe #10", "Recipe10")</li>
    <li>@Html.ActionLink("Recipe #11", "Recipe11")</li>
    <li>@Html.ActionLink("Recipe #12", "Recipe12")</li>
</ul>