<% if session[:token] %>
	<h3><%= @endpoint %></h3>
	<h3>token: <%= session[:token] %></h3>
	<div><%= link_to "Sign Out", signout_path %></div>
	<div><%= @data %></div>
<% else %>
	<h1>Hello!</h1>
  <%=	link_to "Sign in with Inbloom", "/auth/inbloom" %>	
	
<% end %>


